---
import { mdxComponents } from '@/mdx-components'
import { render } from 'astro:content'

const { entry } = Astro.locals.starlightRoute
const { Content } = await render(entry)
---

<div class="w-full flex-1 *:data-[slot=alert]:first:mt-0">
  <Content frontmatter={entry.data} components={mdxComponents} />
</div>
