---
import MobileMenuToggle from 'virtual:starlight/components/MobileMenuToggle'
import SiteFooter from '../SiteFooter.astro'

const { hasSidebar } = Astro.locals.starlightRoute
---

<div
  class="text-foreground group/body overscroll-none font-sans antialiased [--footer-height:calc(var(--spacing)*14)] [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)]"
>
  <div class="bg-background relative z-10 flex min-h-svh flex-col">
    <slot name="header" />
    <main class="flex flex-1 flex-col">
      {
        hasSidebar ? (
          <div class="container-wrapper flex flex-1 flex-col px-2">
            <div
              data-slot="sidebar-wrapper"
              class="group/sidebar-wrapper has-data-[variant=inset]:bg-sidebar flex w-full 3xl:fixed:container 3xl:fixed:px-3 min-h-min flex-1 items-start px-0 [--sidebar-width:220px] [--top-spacing:0] lg:grid lg:grid-cols-[var(--sidebar-width)_minmax(0,1fr)] lg:[--sidebar-width:240px] lg:[--top-spacing:calc(var(--spacing)*4)]"
            >
              <slot name="sidebar" />
              <div class="h-full w-full">
                <slot />
              </div>
            </div>
          </div>
        ) : (
          <slot />
        )
      }
    </main>
    <SiteFooter />
  </div>
</div>
