---
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter'
import DocsSidebar from '../DocsSidebar.astro'

const { sidebar } = Astro.locals.starlightRoute
---

<div>
  <DocsSidebar sublist={sidebar} />

  <div class="md:sl-hidden">
    <MobileMenuFooter />
  </div>
</div>
