---
import MobileMenuToggle from "@astrojs/starlight/components/MobileMenuToggle.astro";
import type { Props } from "@astrojs/starlight/props";

const { hasSidebar, labels } = Astro.props;
---

<slot name="header" />
<main class="flex-1">
  <div class="container relative">
    {
      hasSidebar ? (
        <div class="border-b">
          <div class="container flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10">
            <aside
              class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block"
              aria-label={labels["sidebarNav.accessibleLabel"]}
            >
              <div class="h-full py-6 pr-6 lg:py-8">
                <MobileMenuToggle {...Astro.props} />
                <slot name="sidebar" />
              </div>
            </aside>
            <slot />
          </div>
        </div>
      ) : (
        <slot />
      )
    }
  </div>
</main>
