---
import type { Props } from "@astrojs/starlight/props";
---

<main class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
  <div class="mx-auto w-full min-w-0">
    <slot />
  </div>
  {
    Astro.props.toc && (
      <div class="hidden text-sm xl:block">
        <div class="sticky top-16 -mt-10 pt-4">
          <slot name="right-sidebar" />
        </div>
      </div>
    )
  }
</main>
