---
import { cn } from '~/lib/utils'

const { className, ...props } = Astro.props
---

<h4 class={cn('font-heading mt-8 scroll-m-20 text-lg font-semibold tracking-tight', className)} {...props}>
  <slot />
</h4>
