---
import { cn } from '@/lib/utils'

const { className, ...props } = Astro.props
---

<a
  class={cn(
    'flex w-full flex-col items-center rounded-xl border bg-card p-6 text-card-foreground shadow transition-colors hover:bg-muted/50 sm:p-10',
    className,
  )}
  {...props}
>
  <slot />
</a>
