---
import type { SidebarEntry } from 'node_modules/@astrojs/starlight/utils/routing/types'

interface Props {
  sublist: SidebarEntry[]
  nested?: boolean
}

const { sublist, nested } = Astro.props
---

{
  sublist.map(
    (entry) =>
      entry.type === 'group' && (
        <>
          <div
            data-slot="sidebar-group-label"
            data-sidebar="group-label"
            class="ring-sidebar-ring flex h-8 shrink-0 items-center rounded-md px-2 text-xs outline-hidden transition-[margin,opacity] duration-200 ease-linear focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0 group-data-[collapsible=icon]:-mt-8 group-data-[collapsible=icon]:opacity-0 text-muted-foreground font-medium"
          >
            {entry.label}
          </div>
          <div data-slot="sidebar-group-content" data-sidebar="group-content" class="w-full text-sm">
            <ul data-slot="sidebar-menu" data-sidebar="menu" class="flex w-full min-w-0 flex-col gap-0.5">
              {entry.entries.map(
                (subEntry) =>
                  subEntry.type === 'link' && (
                    <li data-slot="sidebar-menu-item" data-sidebar="menu-item" class={`group/menu-item relative ${nested ? 'pl-4' : ''}`}>
                      <a
                        href={subEntry.href}
                        data-slot="sidebar-menu-button"
                        data-sidebar="menu-button"
                        data-size="default"
                        data-active={subEntry.isCurrent}
                        class="peer/menu-button flex items-center gap-2 rounded-md p-2 text-left outline-hidden ring-sidebar-ring transition-[width,height,padding] focus-visible:ring-2 active:bg-sidebar-accent active:text-sidebar-accent-foreground disabled:pointer-events-none disabled:opacity-50 group-has-data-[sidebar=menu-action]/menu-item:pr-8 aria-disabled:pointer-events-none aria-disabled:opacity-50 data-[active=true]:font-medium data-[active=true]:text-sidebar-accent-foreground data-[state=open]:hover:bg-sidebar-accent data-[state=open]:hover:text-sidebar-accent-foreground group-data-[collapsible=icon]:size-8! group-data-[collapsible=icon]:p-2! [&>span:last-child]:truncate [&>svg]:size-4 [&>svg]:shrink-0 hover:bg-sidebar-accent hover:text-sidebar-accent-foreground data-[active=true]:bg-accent data-[active=true]:border-accent 3xl:fixed:w-full 3xl:fixed:max-w-48 relative h-[30px] w-fit overflow-visible border border-transparent text-[0.8rem] font-medium after:absolute after:inset-x-0 after:-inset-y-1 after:z-0 after:rounded-md"
                      >
                        {subEntry.label}
                      </a>
                    </li>
                  ),
              )}
            </ul>
          </div>
        </>
      ),
  )
}
