---
import SidebarSublist from "./SidebarSublist.astro";

const { sidebar } = Astro.locals.starlightRoute;
---

<div
  data-slot="sidebar"
  class="text-sidebar-foreground w-(--sidebar-width) flex-col sticky top-[calc(var(--header-height)+1px)] z-30 hidden h-[calc(100svh-var(--header-height)-var(--footer-height))] bg-transparent lg:flex"
>
  <div data-slot="sidebar-content" data-sidebar="content" class="flex min-h-0 flex-1 flex-col gap-2 overflow-auto group-data-[collapsible=icon]:overflow-hidden no-scrollbar px-2 pb-12">
    <div class="h-(--top-spacing) shrink-0"></div><div data-slot="sidebar-group" data-sidebar="group" class="relative flex w-full min-w-0 flex-col p-2">
      <SidebarSublist sublist={sidebar} />
    </div>
  </div>
</div>
