---
import config from "virtual:starlight/user-config";
import { Icon } from "@astrojs/starlight/components";
import type { Props } from "@astrojs/starlight/props";
import { buttonVariants } from "@/registry/new-york/ui/button.directive";
import { cn } from "@/lib/utils";

type Platform = keyof NonNullable<typeof config.social>;
type SocialConfig = NonNullable<NonNullable<typeof config.social>[Platform]>;
const links = Object.entries(config.social || {}) as [Platform, SocialConfig][];
---

{
  links.length > 0 && (
    <>
      {links.map(([platform, { label, url }]) => (
        <a href={url} target="_blank" rel="noreferrer">
          <div
            class={cn(
              buttonVariants({
                variant: "ghost",
              }),
              "h-8 w-8 px-0"
            )}
          >
            <Icon name={platform} />
            <span class="sr-only">{label}</span>
          </div>
        </a>
      ))}
    </>
  )
}
