<div class="flex items-stretch text-[1.05rem] sm:text-[15px] xl:w-full">
  <div class="flex min-w-0 flex-1 flex-col">
    <div class="h-(--top-spacing) shrink-0"></div>

    <div class="mx-auto flex w-full max-w-2xl min-w-0 flex-1 flex-col gap-8 px-4 py-6 text-neutral-800 md:px-0 lg:py-8 dark:text-neutral-300">
      <div class="flex flex-col gap-2"></div>

      <div class="w-full flex-1 *:data-[slot=alert]:first:mt-0">
        <slot />
      </div>
    </div>

    <div class="mx-auto flex h-16 w-full max-w-2xl items-center gap-2 px-4 md:px-0"></div>
  </div>
  <div class="sticky top-[calc(var(--header-height)+1px)] z-30 ml-auto hidden h-[calc(100svh-var(--header-height)-var(--footer-height))] w-72 flex-col gap-4 overflow-hidden overscroll-none pb-8 xl:flex">
    <div class="h-(--top-spacing) shrink-0">
      <div class="no-scrollbar overflow-y-auto px-8">
        <div class="flex flex-col gap-2 p-4 pt-0 text-sm">
          <slot name="right-sidebar" />
        </div>
        <div class="h-12"></div>
      </div>
    </div>
  </div>
</div>
