---
import type { HTMLAttributes } from 'astro/types'

import { cn } from '@/lib/utils'

type Props = HTMLAttributes<'section'>
const { class: className, ...props } = Astro.props
---

<section class={cn('border-grid', className)} {...props}>
  <div class="container-wrapper">
    <div class="container flex flex-col items-center gap-2 py-8 text-center md:py-16 lg:py-20 xl:gap-4">
      <slot />
    </div>
  </div>
</section>
