---
import { cn } from '@/lib/utils'
---

<section
  class={cn(
    'flex flex-col items-start gap-2 border-b border-border/40 py-8 dark:border-border md:py-10 lg:py-12',
    Astro.props.class,
  )}
>
  <div class="container">
    <slot />
  </div>
</section>
