---
import config from "virtual:starlight/user-config";
import type { Props } from "@astrojs/starlight/props";

import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro";
import Search from "../Search.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import SocialIcons from "../SocialIcons.astro";
import MainNav from "./MainNav.astro";

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<header
  class="sticky top-0 z-50 w-full border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-14 max-w-screen-2xl items-center">
    <MainNav {...Astro.props} />
    <div
      class="flex flex-1 items-center justify-between space-x-2 md:justify-end"
    >
      <div class="w-full flex-1 md:w-auto md:flex-none">
        {shouldRenderSearch && <Search {...Astro.props} />}
      </div>
      <nav class="flex items-center">
        <SocialIcons {...Astro.props} />
        <ThemeSelect {...Astro.props} />
        <LanguageSelect {...Astro.props} />
      </nav>
    </div>
  </div>
</header>
