---
import { cn } from '@/lib/utils'

const { class: className, ...props } = Astro.props
---

<h6 class={cn('mt-8 scroll-m-20 text-base font-semibold tracking-tight', className)} {...props}>
  <slot />
</h6>
