---
import Announcement from '@/components/Announcement.astro'
import ExamplesNav from '@/components/ExamplesNav.astro'
import { PageActions, PageHeader, PageHeaderDescription, PageHeaderHeading } from '@/components/page-header'

import { siteConfig } from '@/config/site'

import RootLayout from '@/layouts/RootLayout.astro'

import { buttonVariants } from '@/registry/new-york/ui/button'

import { ExampleAuthenticationComponent } from './examples/authentication/_authentication'
---

<RootLayout
  title={'Build your component library - ' + siteConfig.title}
  description="Beautifully designed components that you can copy and paste into your apps. Made with Tailwind CSS. Open source."
>
  <PageHeader>
    <Announcement />
    <PageHeaderHeading>Build your component library</PageHeaderHeading>
    <PageHeaderDescription>
      Beautifully designed components that you can copy and paste into your apps. Made with Tailwind CSS. Open source.
    </PageHeaderDescription>

    <PageActions>
      <a
        href="/docs"
        class={buttonVariants({
          size: 'sm',
        })}
      >
        Get Started
      </a>
      <a
        target="_blank"
        rel="noreferrer"
        href={siteConfig.links.github}
        class={buttonVariants({
          size: 'sm',
          variant: 'ghost',
        })}
      >
        GitHub
      </a>
    </PageActions>
  </PageHeader>
  <div class="border-grid border-b">
    <div class="container-wrapper">
      <div class="container py-4">
        <ExamplesNav class="[&>a:first-child]:text-primary" />
      </div>
    </div>
  </div>

  <div class="container-wrapper">
    <div class="container py-6">
      <section class="hidden md:block [&>div]:p-0">
        <div class="hidden md:block [&>div]:p-0">
          <ExampleAuthenticationComponent client:load />
        </div>
      </section>
    </div>
  </div>
</RootLayout>
