---
import { cn } from '@/lib/utils'
import { badgeVariants } from '@/registry/new-york-v4/ui/badge'
import ArrowRightIcon from '~icons/lucide/arrow-right'
---

<a
  href="/docs/changelog"
  class={cn(
    badgeVariants({
      variant: 'secondary',
    }),
    'rounded-full',
  )}
>
  Now available: shadcn-ng CLI 2.0 and MCP Server <ArrowRightIcon />
</a>
