---
import { Index } from '@/registry/__index__'
import ComponentPreviewTabs from './ComponentPreviewTabs.astro'
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<"div">{
  name: string
  align?: 'center' | 'start' | 'end'
}

const { name, align } = Astro.props

const Component = Index[name]?.component
---

{
  !Component && (
    <p class="text-muted-foreground text-sm">
      Component <code class="bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm">{name}</code> not found in registry.
    </p>
  )
}

{Component && <ComponentPreviewTabs {name} class={Astro.props.class} {align} />}
