---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

export type Props = Omit<HTMLAttributes<"div">, "role">;

const { class: className, ...rest } = Astro.props;
---

<div class={cn("bg-muted text-muted-foreground inline-flex h-9 w-fit items-center justify-center rounded-lg p-[3px]", className)} data-slot="tabs-list" role="tablist" {...rest}>
  <slot />
</div>
