---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'

export type Props = HTMLAttributes<'h5'>

const { class: className, ...props } = Astro.props
---

<h5 class={cn('mt-8 scroll-m-28 text-lg font-medium tracking-tight', className)} {...props}>
  <slot />
</h5>
