---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '~/lib/utils'

export type Props = HTMLAttributes<'p'>

const { class: className, ...props } = Astro.props
---

<p class={cn('leading-relaxed [&:not(:first-child)]:mt-6', className)} {...props}>
  <slot />
</p>
