---
import { cn } from '~/lib/utils'
import type { HTMLAttributes } from 'astro/types'

export type Props = HTMLAttributes<'h3'>

const { class: className, ...props } = Astro.props
---

<h3 class={cn('font-heading mt-8 scroll-m-32 text-xl font-medium tracking-tight', className)} {...props}>
  <slot />
</h3>
