---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'

export type Props = HTMLAttributes<'h2'>

const { class: className, ...props } = Astro.props
---

<h2
  class={cn(
    'font-heading mt-12 scroll-m-28 text-2xl font-medium tracking-tight first:mt-0 lg:mt-20 [&+p]:!mt-4 *:[code]:text-2xl',
    className,
  )}
  {...props}
>
  <slot />
</h2>
