<div x-data>
  <template x-if="$store.style === 'new-york'">
    <slot name="new-york"><p>Not found</p></slot>
  </template>

  <template x-if="$store.style === 'default'">
    <slot name="default"> <p>Not found</p></slot>
  </template>
</div>
