---
import { cn } from '@/lib/utils'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'>

const { class: className, ...rest } = Astro.props
---

<div data-slot="alert-title" class={cn('col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight', className)} {...rest}>
  <slot />
</div>
