---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  /**
   * The value of the item
   */
  value: string;
};

const { value, class: className, ...rest } = Astro.props;
---

<div class={cn("border-b last:border-b-0", className)} data-slot="accordion-item" data-value={value} data-state="closed" {...rest}>
  <slot />
</div>
