---

---

<a href="/docs/components/dropdown-menu" class="group mb-2 inline-flex items-center px-0.5 text-sm font-medium">
  <span class="underline-offset-4 group-hover:underline"> New dropdown menu component </span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-right ml-1 h-4 w-4"
  >
    <path d="M5 12h14"></path>
    <path d="m12 5 7 7-7 7"></path>
  </svg>
</a>
