---
import type { ColorPalette } from '@/lib/colors'
import Color from './Color.astro'
import ColorFormatSelector from './ColorFormatSelector.astro'

export interface Props {
  colorPalette: ColorPalette
}

const { colorPalette } = Astro.props
---

<div id={colorPalette.name} class="rounded-lg shadow-sm ring-1 ring-border" x-data>
  <div class="flex items-center p-2 pb-0">
    <div class="flex-1 pl-1 text-sm font-medium">
      <h2 class="capitalize">{colorPalette.name}</h2>
    </div>
    <ColorFormatSelector class="ml-auto" color={colorPalette.colors[0]} />
  </div>
  <div class="flex flex-col gap-1 p-2 sm:flex-row sm:gap-2">
    {colorPalette.colors.map((color) => <Color {color} />)}
  </div>
</div>

<script>
  import Alpine from 'alpinejs'

  Alpine.store('format', 'hsl')
</script>
