---
import type { FolderNode, PageNode } from '@/docs/source'
import { source } from '@/lib/source'

const components = source.pageTree.children.find((page) => page.id === 'components' && page.type === 'folder')! as FolderNode

const list = components.children.filter((component: { type: string }) => component.type === 'page') as PageNode[]
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-x-8 lg:gap-x-16 lg:gap-y-6 xl:gap-x-20">
  {list.map((component) => (
    <a href={`${component.url}`} class="text-lg font-medium underline-offset-4 hover:underline md:text-base">
      {component.name}
    </a>
  ))}
</div>
