---
import { cn } from '@/lib/utils'

const examples = [
  {
    name: 'Examples',
    href: '/examples/authentication',
  },
]

const { pathname } = Astro.url
---

<div class="relative">
  <div class="relative overflow-hidden max-w-[600px] lg:max-w-none">
    <div class="h-full w-full rounded-[inherit]">
      <div style="min-width: 100%; display: table;">
        <div class={cn('mb-4 flex items-center', Astro.props.class)}>
          {
            examples.map((example) => (
              <a
                href={example.href}
                class={cn(
                  'flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary',
                  pathname?.startsWith(example.href) ? 'bg-muted font-medium text-primary' : 'text-muted-foreground',
                )}
              >
                {example.name}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
