---
import type { examples } from './ExamplesNav.astro'

export type Props = {
  example: (typeof examples)[number]
  isActive: boolean
}

const { example, isActive } = Astro.props
---

{
  !example.hidden && (
    <a
      href={example.href}
      class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm font-medium text-muted-foreground transition-colors hover:text-primary data-[active=true]:bg-muted data-[active=true]:text-primary"
      data-active={isActive}
    >
      {example.name}
    </a>
  )
}
