---
import { cn } from '~/lib/utils'
import ExampleLink from './ExampleLink.astro'

const { pathname } = Astro.url

export const examples = [
  {
    name: 'Authentication',
    href: '/examples/authentication',
    code: 'authentication',
    hidden: false,
  },
]
---

<div class="relative">
  <div class="max-w-[600px] lg:max-w-none">
    <div class={cn('flex items-center', Astro.props.class)}>
      <ExampleLink example={{ name: 'Examples', href: '/', code: '', hidden: false }} isActive={pathname === '/'} />
      {examples.map((example) => <ExampleLink {example} isActive={pathname?.startsWith(example.href) ?? false} />)}
    </div>
  </div>
</div>
