---
import { docsConfig } from '~/config/docs'
import { siteConfig } from '~/config/site'
import { cn } from '~/lib/utils'
import Logo from './Logo.astro'

export type Props = {
  pathname: string
}

const { pathname } = Astro.props
---

<div class="mr-4 hidden md:flex">
  <a href="/" class="mr-4 flex items-center space-x-2 lg:mr-6">
    <Logo class="h-6 w-6" />
    <span class="hidden font-bold sm:inline-block">{siteConfig.title}</span>
  </a>
  <nav class="flex items-center gap-4 text-sm xl:gap-6">
    {
      docsConfig.mainNav.map((item) => (
        <a
          href={item.href}
          class={cn(
            'transition-colors hover:text-foreground/80',
            pathname === item.href ||
              (item.href === '/docs/components/accordion' && pathname.startsWith('/docs/components')) ||
              (item.href === '/examples/cards' && pathname.startsWith('/examples'))
              ? 'text-foreground'
              : 'text-foreground/60',
          )}
        >
          {item.title}
        </a>
      ))
    }
  </nav>
</div>
