---
import { styles } from '@/registry/registry-styles'
---

<select
  x-model="$store.style"
  class="flex items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 shadow-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-1 focus:ring-ring disabled:cursor-not-allowed disabled:opacity-50 [&>option]:line-clamp-1 h-7 w-[145px] text-xs"
>
  {styles.map((style) => <option value={style.name}>{style.label}</option>)}
</select>
